<fieldset class="fieldset">
    <legend>Lista de veículos </legend>
    <div class="row-fluid">
        <div class="col 8">
            @Html.AntiForgeryToken()
            <table id="dt" class="dt table table-striped table-bordered"
                   style="width:100%"
                   data-url="/Veiculo/List"
                   data-cols="tipoveiculo,placa,parking,status"
                   data-what="Veiculos KeepTrack"
                   data-delete-url="/Veiculo/Delete"
                   data-create-url="/Veiculo/Create"
                   data-edit-url="/Veiculo/Edit">
                <thead>
                    <tr>
                        <th>Veiculo</th>
                        <th>Placa</th>
                        <th>Parking</th>
                        <th>Status</th>

                        <th data-orderable="false" class="w-110"></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</fieldset>
<br />